body {
	padding-top: 0px;
	padding-bottom: 40px;
}
#mainContainer {
	padding-top:60px;
}

.popover {
    width:auto;
}

/*
.navbar-inverse .navbar-inner {
	background-color: #006DCC;
	background-image: -moz-linear-gradient(center top , #333333, #666666);
	background-image: -webkit-linear-gradient(top,#333333, #666666);
	background-image: -o-linear-gradient(top,#333333, #666666);
	background-image: linear-gradient(to bottom,#333333, #666666);
	background-repeat: no-repeat;
	filter: none;
}

*/
div.rising {
    background-image: url("../images/icon-rising-falling.png");
    background-repeat: no-repeat;
    height: 8px;
    width: 8px;
    float: left;
    margin-top: 8px;
    margin-left: 15px;
}

div.falling {
    background-image: url("../images/icon-rising-falling.png");
    background-repeat: no-repeat;
    background-position: 0px -12px;
    height: 8px;
    width: 8px;
    float: left;
    margin-top: 8px;
    margin-left: 15px;
}